In [4]:
import pandas as pd

In [5]:
headings = ['Year', 'Disaster Type', 'Death Toll', 'Damage Cost', 'Disaster Name', 'Notes']

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_natural_disasters_in_the_United_States', header=0)

In [6]:
for table in tables:
    current_headings = table.columns.values[:4]
    if len(current_headings) != len(headings):
        continue
    if all(current_headings == headings):
        break

In [19]:
df = pd.DataFrame(table)

df['Year'] = df['Year'].str[:4]
df['Year'] = pd.to_datetime(df['Year'])
df

,Year,Disaster,Death toll,Damage cost,Main article,Location,Notes
0,2017-01-01,Hurricane,112-4760,$91.61 billion,Hurricane Maria,Florida and Puerto Rico,After strengthening at a near record pace and ...
1,2017-01-01,Hurricane,134,$64.76 billion,Hurricane Irma,"Florida, South Carolina, Georgia, Puerto Rico",Hurricane Irma ravaged the northern Leeward Is...
2,2017-01-01,Hurricane,107,$125.00 billion,Hurricane Harvey,"Texas, Louisiana, Alabama",Hurricane Harvey began as a tropical storm in ...
3,2016-01-01,Wildfire,14,$990 Million,2016 Great Smoky Mountains wildfires,Tennessee,"Destroyed nearly 2,000 structures; burned near..."
4,2016-01-01,Hurricane,49,$15.09 Billion,Hurricane Matthew,"Florida, Georgia, The Carolinas",NaN
5,2016-01-01,Flood,13,NaN,2016 Louisiana floods,Louisiana,NaN
6,2016-01-01,Flood,23,NaN,2016 West Virginia flood,West Virginia,NaN
7,2016-01-01,Blizzard,55,"$500,000,000",January 2016 United States blizzard,Southeast through Mid Atlantic to Northeast,Snowfall totals in excess of two feet (61 cm)
8,2015-01-01,Flood,25,Billions,October 2015 North American storm complex,Carolinas,NaN
9,2015-01-01,Flood,20,NaN,2015 Utah floods,Utah,NaN
10,2015-01-01,Wildfire,3,$6–8 billion,Okanogan Complex fire,"Okanogan County, Washington",Damage figure includes costs involved in the f...
11,2015-01-01,Flood,46,NaN,2015 Texas–Oklahoma floods,"Texas, Kansas, Oklahoma",NaN
12,2014-01-01,Snow storm,24,NaN,November 2014 North American winter storm,"Buffalo, New York, Great Lakes region",NaN
13,2014-01-01,Tornado,35,$1 billion,April 2014 tornado outbreak,"Nebraska, Louisiana, Oklahoma, Illinois, Flori...",NaN
14,2014-01-01,Mudflow,43,NaN,2014 Oso mudslide,"Oso, Washington",NaN
15,2013-01-01,Cold wave,21,NaN,Early 2014 North American cold wave,Eastern US,NaN
16,2014-01-01,Wildfire,19,NaN,Yarnell Hill Fire,"Yarnell, Arizona",NaN
17,2013-01-01,Flood,8,$1.9 billion,2013 Colorado floods,Colorado,NaN
18,2013-01-01,Tornado,24,$2 billion,2013 Moore tornado,"Moore, Oklahoma",NaN
19,2013-01-01,Blizzard,18,NaN,February 2013 nor'easter,Eastern US,NaN
20,2012-01-01,Wildfires,6,NaN,2012 Colorado wildfires,Colorado,NaN
21,2012-01-01,Hurricane,147,$75 billion,Hurricane Sandy,Eastern US,NaN
22,2011-01-01,Tornado,160,"$69,000 – $3,000,000,000(2011)",2011 Joplin tornado,"Joplin, Missouri",part of the tornado outbreak sequence of May 2...
23,2011-01-01,Tornado,346,"~$11,000,000,000(2011)",2011 Super Outbreak,"Alabama, Tennessee, Mississippi, Georgia, Arka...",336 tornadoes
24,2011-01-01,Flood,20,$2–4 billion[2][3],2011 Mississippi River floods,Mississippi River Valley,NaN
25,2010-01-01,Flood,20,NaN,June 2010 Arkansas floods,"Albert Pike Recreational Area (near Langley, A...",NaN
26,2009-01-01,Tsunami,31,NaN,2009 Samoa earthquake and tsunami,American Samoa and nearby islands,"189 total deaths, with 31 in American Samoa."
27,2008-01-01,Tornado,59,$1.2 Billion,2008 Super Tuesday tornado outbreak,"Tennessee, Arkansas, Kentucky, Alabama, and Il...",NaN
28,2007-01-01,Wildfires,14,NaN,California wildfires of October 2007,California,Large fires burned out of control across south...
29,2006-01-01,Snow storm,19,"$530,000,000(2006)","Lake Storm ""Aphid""","Buffalo, New York",NaN
...,...,...,...,...,...,...,...
72,1940-01-01,Blizzard,154,"$2,200,000",Armistice Day Blizzard,North and Central Midwest,Damage total not adjusted for inflation.
73,1938-01-01,Hurricane,600,NaN,Great New England Hurricane,NaN,NaN
74,1938-01-01,Flood,115,NaN,Los Angeles Flood of 1938,Los Angeles,NaN
75,1937-01-01,Flood,385,"$5,000,000,000",Ohio River flood of 1937,"Ohio, Kentucky, Indiana, Illinois",NaN
76,1936-01-01,Flood,69,"$3,000,000,000(2006)",Pittsburgh Flood 1936,"Pittsburgh, Pennsylvania, area",NaN
77,1935-01-01,Hurricane,423,NaN,Labor Day Hurricane of 1935,Florida,NaN
78,1931-01-01,Drought,Unknown,$1.403 Trillion (2017),Dust Bowl,Great Plains,Compounded by unsustainable agricultural techn...
79,1928-01-01,Hurricane,3000,"$800,000,000(2005)",1928 Okeechobee Hurricane,"Leeward Islands, Puerto Rico, the Bahamas, and...","4,078+ believed dead total. About 2,500 died i..."
80,1927-01-01,Flood,246,"$400,000,000",Great Mississippi Flood of 1927,"Arkansas, Illinois, Kentucky, Louisiana, Missi...",NaN
81,1926-01-01,Tornado,16,NaN,La Plata Tornado of 1926,"La Plata, Maryland",13 killed in La Plata Elementary School
82,1925-01-01,Tornado,695–727,"$1,650,000,000(2005)",Tri-State Tornado,"Missouri, Illinois and Indiana (Kentucky, Tenn...",Lower number for single 3-state tornado; highe...
83,1919-01-01,Hurricane,600,NaN,1919 Florida Keys Hurricane,"Florida, Texas",NaN
84,1918-01-01,Wildfire,453,$73 Million (US$1.145 Billion in 2015),1918 Cloquet fire,Minnesota,Largest disaster in Minnesota history
85,1913-01-01,Flood,428,NaN,1913 (Ohio) Statewide Flood,"Southwest, Central, and Eastern Ohio",NaN
86,1913-01-01,Flood,361,NaN,Great Dayton Flood,"Dayton, Ohio",Flood was created by a series of three winter ...
87,1913-01-01,Blizzard,250,NaN,Great Lakes Storm of 1913,NaN,Fatalities estimated
88,1913-01-01,Storm,250,"$5,000,000(1913)",Great Lakes Storm of 1913,Great Lakes area,Financial impact for lost vessels and cargo only
89,1910-01-01,Avalanche,96,NaN,Wellington avalanche,"Wellington, Washington",NaN
90,1906-01-01,Earthquake and fire (urban conflagration),"3,000–6,000",NaN,1906 San Francisco earthquake,California,Conflagration followed quake; fatalities estim...
91,1900-01-01,Hurricane,"6,000–12,000",NaN,Galveston Hurricane of 1900,Texas,Fatalities estimated – remains deadliest natur...
92,1896-01-01,Tornado,255–400,"$2,900,000,000(1997)",St. Louis-East St. Louis tornado,Missouri,NaN
93,1894-01-01,Wildfire,418,$73 Million,Great Hinckley Fire,Minnesota,Actual death toll likely higher than official ...
94,1893-01-01,Hurricane,2000,NaN,1893 Cheniere Caminada Hurricane,Louisiana,Fatalities estimated
95,1893-01-01,Hurricane,"1,000–2,000",NaN,1893 Sea Islands Hurricane,"Georgia, South Carolina",Fatalities estimated
96,1889-01-01,Flood,2209,$17 Million ($425 Million in 2012 dollars),Johnstown Flood,"Johnstown, Pennsylvania",A dam failure caused 20 million tons of water ...
97,1888-01-01,Blizzard,400,NaN,Great Blizzard of 1888,Northeast,Fatalities estimated
98,1888-01-01,Cold wave,Unknown,NaN,1888 Northwest Cold Wave,Northwest,NaN
99,1871-01-01,Wildfire,"1,500–2,500",NaN,Peshtigo fire,Wisconsin,Deadliest firestorm in United States history
100,1862-01-01,Flood,NaN,NaN,Great Flood of 1862,"California, Oregon, Utah, and the territories ...",An atmospheric river led to 43 days of rain st...
101,1816-01-01,Famine (caused by volcano),Unknown,NaN,Year Without a Summer,NaN,Volcanic dust from a massive eruption by Mount...

In [20]:
# Import dataframe into MySQL
import sqlalchemy
from sqlalchemy import create_engine
kwargs = dict(
username = 'root',
password = '@g9gtP&O2912',
database_ip = 'localhost',
database_name = 'stockdata',
)

from sqlalchemy import create_engine
#engine = create_engine("mysql+pymysql://root:"+'password'+"@localhost/ecommercedb")

conn_string = "mysql+pymysql://{username}:{password}@{database_ip}/{database_name}".format(**kwargs)
engine = create_engine(conn_string)
df.to_sql(con=engine, if_exists='replace', index=False,name='disasters')

C:\Users\User\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)